
<!-- IF S_INDEXTREE_NEWSLETTER_ENABLE -->

<!-- INCLUDE overall_header.html -->
<div class="panel">
    <div class="content">
        <fieldset>
            <div class="message success">
                <p><strong>{L_SUCCESS} </strong>{L_SUCCESS_MESSAGE_SUBSCRIBE}</p>
            </div></br>
            <div>
                <a href="{U_INDEX}" class="button2" type="submit" >{L_TO_PAGE}</a>
            </div>
        </fieldset>
    </div>
</div>
<!-- INCLUDE overall_footer.html -->

<!-- ENDIF -->